body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background-color: blue;
}

.header {
  background-color: brown
}

.order {
  background-color: darkgoldenrod;
}

.inventory {
  background-color: green;
}

.adminPanel {
  background-color: red;
}